*{
    font-family: Arial, Helvetica, sans-serif;
}
.time {
    height: 20%;
    /* display: flex; */
    text-align: right;

}

.questions {
    display: center

}

#title {
color:blue
}

button {
    color: blue;
}


